    .logo{
		margin-top: 8%;
	}
	
	.fweb:hover{
		opacity: 100%;
	}
	.fweb{
		opacity: 80%;
	}
	.con{
		padding-right: 0px;
		/*opacity: 90%;*/
	}
	.form-control{
		border: 1px solid #ffc107;
	}
	.form-control:focus{
		border-color: #ffc107;
		box-shadow:0 0 0 0.3rem rgb(255 211 79 / 25%);
	}
	/*body{
		background-image: url(img/bg6.jpg);
		background-size:cover;
	}*/
	.bi-search{
		padding: 0px 10px;
	}
	.ti{
		padding: 0px 20px;
	}
	.bg{
		transition:background 0.3s;
		background: #ffc107;
	}
	.nav-link{
		color: black
	}
	.nav-link:focus{
		color: black
	}
	.nav-link:hover{
		color: black
	}
	.highlight{
		color: #ef5050;
	}
	.list-group-item{
		cursor: pointer;
		border-radius: 0.5rem !important;
	}
	
	.list-group-item:hover{
		background:#f7f7f7
	}
	
	a{
		text-decoration:none;
		border:none;
	}
	.alert{
		padding: 0.5rem;
	}